@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá! Agende sua consulta hoje mesmo!</h1>
    <br />
    <p>Clique em Consultas no mesmo acima, e faça o agendamento de sua primeira ou próxima consulta!</p>
</div>